:root {
  --screen-primary-light: "white";
  --screen-primary-dark: "black";
}

#root {
  margin: 0;
  text-align: center;
  height: 100%;
}

#root:nth-child(even) {
  background-color: var(--screen-primary-light);
}
#root:nth-child(odd) {
  background-color: var(--screen-primary-dark);
}
